@import '../../styles/colors';

.project-card {
    background-color: rgba(color(secondary), .7);
    box-shadow: 0px 2px 5px black;
    margin: 20px;
    transition: 0.5s;

    img {
        max-width: 70%;
        max-height: 10%;
    }

    a {
        text-decoration: none;
        color: color(nuetral);
    }
}

.project-card:hover {
    box-shadow: 0px 2px 5px color(accent-dark);
}