@import '../../styles/colors';

#project-view-container{

    display: none;
    position: relative;
    width: 75%;
    height: 85vh;
    transition: 1s ease-in;
    
    iframe {
        width: 100%;
        height: 100%;
    }

    .view-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    
}

#project-view-container.active {
    display: block;
}

.view-btn {
    background-color: red !important;
}

.view-btn:hover {
    background-color: darken(red, 20%) !important;
}