@import '../../styles/colors';

#project-view-container{

    position: relative;
    width: 80%;
    height: 85vh;
    
    iframe {
        width: 100%;
        height: 100%;
    }

    .view-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    
}

.view-btn {
    background-color: red !important;
}

.view-btn:hover {
    background-color: darken(red, 20%) !important;
}