@import '../../styles/media';

#project-container {
    width: 95%;
    text-align: center;
    margin: -40px auto;

    @include desktop {
        width: 70%;
    }
}

#project-container.scroll {
    margin: 0 auto;
}

// #project-carousel {
//     margin-top: -2em;
// }

#project-view-row {
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    display: flex;
    transition: 1s;
}