@import '../../styles/media';

#project-container {
    width: 95%;
    text-align: center;
    margin: 30px auto;

    @include desktop {
        width: 70%;
    }
}

#project-container.scroll {
    margin: 0 auto;
}